.send-voucher-payment {
  background: #04a45c !important;
  color: white;
  border: none;
  padding: 6px;
  border-radius: var(--radius-sm);
  font-size: 25px !important;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-voucher-payment:hover {
  background: #1b5930;
}